@font-face {
  font-family: 'Bookman Old Style';
  src: url('../fonts/BookmanOldStyle.woff2') format('woff2'),
      url('../fonts/BookmanOldStyle.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Bookman Old Style";
  color: #e8e8e8;
}
.wrapper{
  position: relative;
}
.content{
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  /* background-color: red; */
  max-width: 1440px;
  width: 100%;
  height: 900px;
  display: flex;
}
.main-content{
  flex: 1;
  position: relative;
  overflow: hidden;
}
.woman{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/woman.jpg);
  background-size: cover;
  animation: woman 10s 1;
}
.logo{
  position: absolute;
  top: 30px;
  left: 0;
}
.main-text{
  margin: 0 auto;
  position: relative;
  padding-top: 190px;
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  font-size: 30px;
  margin: 0 0 60px;
  font-weight: 100;
}
p{
  text-align: justify;
  margin: 0;
}
.form{
  flex: 1;
  background-color: #e8e8e8;
  background-image: url(../img/bg.png);
  background-size: cover;
}
.main-text a:last-child{
  margin-top: 150px;
  font-family: "Bookman Old Style";
  color: #1f2125;
  background-color: #e8e8e8;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 12px;
  display: none;
}

form{
  font-family: 'Courier Prime', monospace;
  color: #111317;
  display: flex;
  flex-direction: column;
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.form h2{
  margin-top: 180px;
  margin-bottom: 40px;
  font-family: "Bookman Old Style";
}
.item{
  display: flex;
  justify-content: space-between;
}
.form-item{
  width: 50%!important;
}
input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a7a8a9;
  outline: none;
  margin-top: 5px;
  margin-bottom: 30px!important;
  font-size: 10px;
}
input::placeholder{
  font-size: 10px;
}
input:focus{
  border-bottom: 1px solid #111317;
}
.placeholder{
  flex-direction: column;
  justify-content: flex-start;
}
textarea{
  margin-top: 20px!important;
  /* border: none; */
  border-radius: 5px;
  resize: none;
  outline: none;
  font-size: 12px!important;
  height: 150px;
  background-color: transparent;
}
textarea::placeholder{
  font-size: 10px;
}
textarea:focus{
  border-bottom: 2px solid #111317;
}
button{
  margin-top: 30px!important;
  width: 200px;
  cursor: pointer;
  border: 1px solid #a7a8a9;
  background: #e8e8e8;
  border-radius: 5px;
  padding: 5px;
}
button:hover{
  background: #e8e8e8;
  }
.footer{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #a7a8a9;
  font-size: 9px;
}
.footer p{
  margin-top: 8px;
  margin-bottom: 10px;
}






@keyframes woman {
  from{
    transform: scale(1.2);
    transform-origin: center center;
  }
  top{
    transform: scale(1);
    transform-origin: center center;
  }
}
@media (max-width: 1180px) {
  .content{
    top: 0;
  }
  .main-text{
    padding-top: 100px;
    max-width: 380px;
    padding-left: 20px;
    padding-right: 20px;
  }
  form{
    max-width: 380px;
    padding-left: 20px;
    padding-right: 20px;
  }
  form h2{
    margin-top: 100px!important;
  }
  .item{
    flex-direction: column;
    width: 100%;
  }
  .form-item{
    width: 100%!important;
  }
  input{
    width: 100%;
  }
}

@media (max-width: 850px) {
  .content{
    flex-direction: column;
  }
  .content >  *{
    min-height: 900px;
  }
  .main-text{
    max-width: 350px;
  }
  form{
    max-width: 350px;
  }
  .main-text a:last-child{
    display: block;
  }
}
@media (max-width: 450px) {
  .main-text{
    max-width: 300px;
  }
  form{
    max-width: 250px;
  }
}